PORT=

DATABASE_URL=postgresql://usuario:senha@localhost:5432/nome_banco

JWT_SECRET=
JWT_EXPIRACAO=
REFRESH_EXPIRACAO_DIAS=

BCRYPT_ROUNDS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=joao.pedro@redfoxtelecom.com.br
SMTP_PASS=
SMTP_FROM=

SUPORTE_EMAIL_DESTINO=
FRONTEND_LOGIN_URL="http://localhost:9200/#/login"

CORS=

DB_HOST_IXC=
DB_USER_IXC=
DB_PASS_IXC=
DB_NAME_IXC=

SINCRONIZACAO_INICIO_HISTORICO=

SINCRONIZACAO_INTERVALO_MINUTOS=
SINCRONIZACAO_ATIVA=
